@model PASSION_PROJECT_MVP.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Room Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.House.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Address)
        </dd>

        <dt>
            @Html.Label("Room Length")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomLength)
        </dd>

        <dt>
            @Html.Label("Room Width")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demolition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demolition)
        </dd>

        <dt>
            @Html.Label("New Walls")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewWalls)
        </dd>

        <dt>
            @Html.Label("Drywall Repair")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrywallRepair)
        </dd>

        <dt>
            @Html.Label("Drywall Installation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrywallInstallation)
        </dd>

        <dt>
            @Html.Label("Type of Flooring")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorInstallation)
        </dd>

        <dt>
            @Html.Label("New Windows")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewWindows)
        </dd>

        <dt>
            @Html.Label("New Doors")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewDoors)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Back to Rooms", "Index")
</p>
