@model IEnumerable<PASSION_PROJECT_MVP.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>All Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.House.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Demolition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewWalls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrywallRepair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrywallInstallation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorInstallation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewWindows)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewDoors)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.House.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demolition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewWalls)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrywallRepair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrywallInstallation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorInstallation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewWindows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewDoors)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomId })
        </td>
    </tr>
}

</table>
