@model PASSION_PROJECT_MVP.Models.House

@{
    ViewBag.Title = "Delete";
}

<h2>Delete House?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.Label("Customer First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>

        <dt>
            @Html.Label("Customer Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>

        <dt>
            @Html.Label("Customer Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Houses", "Index")
        </div>
    }
</div>
